.main-container{
    display: flex;    
    width: 100%;
    @media (max-width: 576px) {
        display: block;}
    @media (max-width: 768px) {
        display: block;
        align-items: center; 
        max-width: 30%;
    }
}
.card{        
    margin: 5px;
    background-color: skyblue;
    padding: 15px;
    transition: 0.1s;
}

.card-title{    
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.671);
}
.card:hover{
    border: 2px solid whitesmoke;
    cursor: pointer;
    background-color: lightgray;
    
}
.title h1,h3{
    text-align: center;
    font-weight: 900;
    color: rgb(99, 94, 110);
    font-family: sans-serif;
    margin-bottom: 35px;
}


body{
    background-image: url('../../city-7356540_1920.png');
    
  background-size: 100% 285%;
  background-repeat:no-repeat;
  
  
}