.nav-bar-container{
    height: 60px;            
}
.main-navbar{
    background-color: transparent;
    margin-bottom: 40px;
}
.navigation-items{  
    font-family: sans-serif;  
    text-decoration: none;
    color: white;        
    padding:  10px; 
    font-size: 20px;
     font-weight: 500;      
    
    
}

.navigation-items:hover{
    background-color: rgb(194, 189, 189);    
    color: black;   
    border-radius: 5px;    
    transition: 0.3s;
}

.site-logo{
    padding: 5px;
}

.nav-dropdown{
    text-decoration: none;
    color: red;
}

.dropdown-title{
    font-weight: 500;
}
